body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  width: 19.5rem;
  z-index: 1;
}

.card:hover {
  transition: 0.2s ease-in-out;
  /* border: 1px solid orange !important; */
  box-shadow: 1px 5px 3em #ccc;
  border: 0 !important;

}

.quickView {}

.stack-top {
  z-index: 4;
  position: absolute;
  border-radius: 60px;
  background-color: rgba(255, 166, 0, 0.493);
  width: 120px;
  height: 120px;
  padding: 30px;
  left: 100px;
  top: 100px !important;
  cursor: pointer;
}

.stack-top a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
}

.stack-top:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out;
  color: #000;
}

.mCart {
  cursor: pointer;
}

.login-wrapper {
  width: 25rem;
}

.topbar {
  background-color: #ccc;
}

.dash {
  text-align: left;
  padding: 15px 30px;
  border-bottom: 1px dotted;
  text-align: left;
  list-style: none;
}

.dash:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}